name: openEQUELLA Admin Console Launcher CI

on:
  push:
    branches:
      - master
      - develop
      - release/**
    tags:
      - "**"
  pull_request:
    branches:
      - master
      - develop
      - release/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Gradle Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Build with Gradle
        run: ./gradlew build

      - name: Generate artefact hashes
        run: ../../generate-hashes.sh *
        working-directory: build/distributions

      - name: Save artefacts
        uses: actions/upload-artifact@v3.1.3
        with:
          name: Artefacts
          path: build/distributions

      - name: Save Coverage Report
        uses: actions/upload-artifact@v3.1.3
        with:
          name: CoverageReport
          path: build/reports/tests/test

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/distributions/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}